#Defualt Network
DEFAULT_NETWORK=ropsten

# User private key
PRIVATE_KEY=

# User public address
SIGNER_ADDRESS=

# Infura id
INFURA_ID=
ALCHEMY_API_KEY=

# XDAI http provider
XDAI_HTTP_PROVIDER=

# XDAI Websocker provider
XDAI_WS_PROVIDER=

# MATIC http provider
MATIC_HTTP_PROVIDER=

# MATIC Websocker provider
MATIC_WS_PROVIDER=

# FANTOM http provider
FANTOM_HTTP_PROVIDER=

# FANTOM Websocker provider
FANTOM_WS_PROVIDER=

# ARBITRUM http provider
ARBITRUM_HTTP_PROVIDER=

# ARBITRUM Websocker provider
ARBITRUM_WS_PROVIDER=

# OPTIMISM http provider
OPTIMISM_HTTP_PROVIDER=

# OPTIMISM Websocker provider
OPTIMISM_WS_PROVIDER=

# BSC http provider
BSC_HTTP_PROVIDER=

# BSC Websocker provider
BSC_WS_PROVIDER=

# AVALANCHE http provider
AVALANCHE_HTTP_PROVIDER=

# AVALANCHE Websocker provider
AVALANCHE_WS_PROVIDER=

# HARMONY http provider
HARMONY_HTTP_PROVIDER=

# HARMONY Websocker provider
HARMONY_WS_PROVIDER=

# ROPSTEN http provider
ROPSTEN_HTTP_PROVIDER=

# ROPSTEN Websocker provider
ROPSTEN_WS_PROVIDER=

# KOVAN http provider
KOVAN_HTTP_PROVIDER=

# KOVAN Websocker provider
KOVAN_WS_PROVIDER=

# MAINNET http provider
MAINNET_HTTP_PROVIDER=

# MAINNET Websocker provider
MAINNET_WS_PROVIDER=

